<aside class="sidebar">
  <div class="title">MENU</div>

  <nav>
    <ul>
      <li class="group">APPLE</li>
      <li><a href="#">iPhone</a></li>
      <li><a href="#">Apple Watch</a></li>
      <li><a href="#">iPad</a></li>

      <li class="group">SAMSUNG</li>
      <li><a href="#">Linha S</a></li>
      <li><a href="#">Linha A</a></li>
      <li><a href="#">Linha M</a></li>
      <li><a href="#">Tablets</a></li>
      <li><a href="#">Smart Watch</a></li>

      <li class="group">OUTROS</li>
      <li><a href="#">Diversos</a></li>
    </ul>
  </nav>
</aside>
